<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']" >Network</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']"  >Mathes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']"  >Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']"  >Messages</a>
      </li>
    </ul>

    <div class="dropdown" dropdown *ngIf="loggedIn()">
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{authService.decodedToken?.unique_name | titlecase}}
      </a>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item"><i class="fa fa-user"></i> Edit profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>

    <form #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()" *ngIf="!loggedIn()">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" required name="username"
        [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" placeholder="Password" required name="password"
        [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>